[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "==1.6.2"
black = "==22.3.0"
coverage = "~=5.0"
parameterized = "==0.7.0"
prospector = "==1.1.6.2" #  Our project only works with version 1.1.6.2
isort = "==5.10.1"
django-extensions = "*"
ipdb = "*"

[packages]
Django = "~=2.2"
djangorestframework = "~=3.9"
django-background-tasks = "~=1.2"
django-environ = "~=0.4"
django-model-utils = "~=4.0"
django-jsonfield = "~=1.4"
elastic-apm = "~=5.8"
sentry-sdk = "~=0.16"
typed-ast = "~=1.4.2"
mohawk = ">=1.1"
psycopg2 = "~=2.8.6"
python-dateutil = "~=2.8"
requests = "~=2.21"
unidecode = "~=1.2"
django-log-formatter-ecs = "==0.0.5"

[requires]
python_version = "3.7"
