[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "~=1.6"
black = "==19.10b0"
coverage = "~=5.0"
parameterized = "==0.7.0"
prospector = "==1.1.6.2" #  Our project only works with version 1.1.6.2

[packages]
Django = "~=2.2"
djangorestframework = "~=3.9"
django-background-tasks = "~=1.2"
django-environ = "~=0.4"
django-model-utils = "~=4.0"
django-jsonfield = "~=1.4"

mohawk = ">=1.1"
python-json-logger = "~=0.1"
psycopg2 = "~=2.8"
requests = "~=2.21"

[requires]
python_version = "3.7"
