[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "==1.6.2"
black = "==22.3.0"
coverage = "~=5.0"
parameterized = "==0.7.0"
prospector = "==1.1.6.2" #  Our project only works with version 1.1.6.2
isort = "==5.10.1"
django-extensions = "*"
ipdb = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
requests-mock = "*"
flower = "==1.2"

[packages]
djangorestframework = "~=3.9"
django-environ = "~=0.4"
sentry-sdk = "~=0.16"
# TODO: Should we delete this?
typed-ast = "~=1.4.2"
mohawk = ">=1.1"
# 2.28.1 is latest version
requests = "~=2.21"
# 1.3.6 is the latest version
unidecode = "~=1.2"
# TODO: Should we replace this with this: https://pypi.org/project/django-audit-log-middleware/
django-log-formatter-ecs = "==0.0.5"
gunicorn = "*"
django = "==3.2.16"
# 6.13.2 is the latest version
elastic-apm = "==6.7.2"
# 1.20 is the latest version
msal = "~=1.18.0"
# 2.9.5 is the latest version
psycopg2-binary = "~=2.9.3"
# TODO: IDEALLY WE CAN REMOVE THIS (65.6.3 is the latest)
setuptools = "~=65.5.1"
# TODO: remove importlib-metadata when upgrading python
celery = {version = "==5.2.7", extras = ["redis"]}
# Celery calls entry_points().get() in a lot of places and that has been removed from later versions of importlib-metadata
# celery 5.3.0 should have fixed all of these calls, when that happens remove importlib-metadata as a dependency.
# https://importlib-metadata.readthedocs.io/en/latest/history.html#v5-0-0
importlib-metadata = "==4.13.0"

[requires]
python_version = "3.7"
